.menu{
  background-color: blue;
  width: 700px;
}

.logo
{
  background-color: brown;
  float: left;
}

.menu_tab
{
  background-color: chartreuse;
  float: right;
}

th {
  margin-right: 150px;
  background-color: darkgreen;

}


