<app-menu></app-menu>

<form>
  <p>transaction recipient id : {{transaction.recipient.id}} </p>
  <p>selectedValue : {{selectedValue}}</p>
  <p>contactidSelected : {{contactIdSelected}}</p>
<div class="d-flex justify-content-center">
  <div class="d-flex flex-column">
    <div class="p-2">
      <div class="d-flex">
        <p class="mr-auto p-2">Send Money</p>
        <p class="p-2">
          <a routerLink="/Contact"> <button type="button" class="btn btn-primary btn-sm">Add contact</button></a>
        </p>
      </div>
      <div class="d-flex justify-content-around">
        <select [(ngModel)]="selectedValue" class="custom-select" id="inputGroupSelect01" name="contact">
          <option selected>Select Contact</option>
          <option *ngFor="let contact of contactData" [value]="contact.id">
            {{contact.lastName}} {{contact.firstName}}
          </option>
        </select>
        <input [formControl]="amount" type="number" class="form-control" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1">
        <input [formControl]="description" type="text" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon1">
        <div>
          <button (click)="payment()" type="button" class="btn btn-success btn-sm">Pay</button>
        </div>
      </div>
    </div>

    <div class="p-2">
      <p>My transactions</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Recipient</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactionData">
          <th scope="row">{{ transaction.id }}</th>
          <td>{{ transaction.recipient.firstName }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>


</form>
